<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <title>Using Template W3d6 q2 assignment</title>
    </head>
    <body>
        <form action="/result" method="post" name="myform">
            Name: <input name="name">
            Age: <input name="age"> <button type="submit">
            Submit</button>
        </form>
    </body>
</html>