h1,h2,h3,h4,h5,h6 {
    color: #A4A400;
    background-color:#F0F0F0;
    font-family: Lucida, "Sans Unicode", Helvetica, Arial,sans-serif;
    text-align: left;
    font-size: 18pt;
    letter-spacing: 0.25px;
    text-decoration: underline;
}
h1{
    text-align: center;
    font-size: 20pt;
    font: bold;

}
body{
    background-color: white;
    background-image: url("recipeImages/silverware.jpg");
    color: #404040;
    font-size: 11pt;
    font-family: Garamond,Georgia, serif;
}
a{
    color: #A4A400;
}
blockquote{
    background-color: #FFFFA8 ;
    font-style: italic;
}

ul{
    list-style-image: url("recipeImages/pie_icon.gif");
}
p.cour{
    letter-spacing: 0.5px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    
}
span.cake{
    text-decoration: line-through;
}