<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <title>Add Cookie</title>
    </head>
    <body>
        <h2>Add Cookie Form</h2>
        <form action="/result" method="post" name="myform">
            Key: <input name="text">
            Value: <input name="text">
           <button type="submit">
            Submit</button>
        </form>
    </body>
</html>
