<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <link href= "<%=myCss%>" rel="stylesheet">
        <title>Current Time</title>
    </head>
    <body>
        This Page was loaded at
        <%=time%>
    </body>
</html>