<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <title>Using Template W3d6 q2 assignment</title>
    </head>
    <body>
        <form action="/result" method="post" name="myform">
            Text: <input name="text">
           <button type="submit">
            Submit</button>
        </form>
    </body>
</html>