<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <title>W4d1 Quiz</title>
    </head>
    <body>
        <%for(let ls in list){%>
        <ul>
            <li>
                <%=ls%>
            </li>
            <%}%>
        </ul>
        <a href="list.ejs">Add List</a>
    </body>
</html>