
.header{
background-color:rgb(81, 132, 145);
grid-area:hh;
}
.left{
    background-color:rgb(11, 70, 85);
    grid-area:ll;
}
.right{
    background-color:rgb(11, 70, 85);
    grid-area:rr;
}
.middle{

    background-color:rgb(37, 157, 135);
    grid-area:mm;
    width: 60%;
}
.footer{
    background-color:rgb(81, 132, 145);
    grid-area:ff;
}
.container{
    display: grid;
    width: 90%;
    grid-template-areas: 
    'hh hh  hh'
    'rr mm ll'
    'ff ff ff';
    grid-gap: 10px;
    background-color: #558755;
    padding: 10px;
}
